@page "/list-sv"
@using StudentManagement.Shared.FormAdd
@using StudentManagement.Shared.FormEdit
@using StudentManagement.Shared.FormDelete

<h3>Danh sách sinh viên</h3>
<button class="btn btn-primary mb-3" @onclick="OnSortSinhVien">Sắp xếp theo tên</button>
<div class="mb-3">
    <label for="searchMaSV" class="form-label">Tìm kiếm theo mã sinh viên</label>
    <input id="searchMaSV" class="form-control" @bind="searchMaSV" @bind:event="oninput" @onchange="SearchStudent" placeholder="Nhập mã sinh viên..." />
</div>

<Table TItem="Share.DTOs.SinhVien.SinhVienResponse" PageSize="pageSize" Total="totalCount" DataSource="sinhviens" OnChange="OnChange">
    <TitleTemplate>
        <Flex Justify="FlexJustify.End" Gap="@("10")">
            <Button Type="ButtonType.Primary" OnClick="() => ShowAddForm()">Thêm mới</Button>
        </Flex>
    </TitleTemplate>
    <ColumnDefinitions Context="row">
        <Selection />
        <Column Title="Mã sinh viên" Field="row.MaSV" Sortable="true" />
        <Column Title="Họ và tên" Field="row.TenSV" Sortable="true" />
        <Column Title="Ngày sinh" Field="row.NgaySinh" Sortable="true" />
        <Column Title="Địa chỉ" Field="row.DiaChi" Sortable="true" />
        <Column Title="Lớp học" Field="row.LopResponse.TenLop" Sortable="true" />
        <ActionColumn Title="Chức năng">
            <Button Type="ButtonType.Primary" @onclick="() => ShowEditForm(row)">Chỉnh sửa</Button>
            <Button Danger Type="ButtonType.Primary" @onclick="() => ShowDeleteForm(row)">Xóa</Button>
        </ActionColumn>
    </ColumnDefinitions>
</Table>

@* form add *@
<AddSinhVien 
    visibleAdd="@visibleAdd" 
    CloseAddForm="@CloseAddForm" 
    acceptAddSinhVien="@acceptAddSinhVien"
    newStudent="@newStudent"
    LopList="@lopList" />

@* form edit *@
<EditSinhVien 
    visibleEdit="@visibleEdit"
    CloseEditForm="@CloseEditForm"
    acceptUpdateSinhVien="@acceptUpdateSinhVien"
    editStudent="@sinhVienEdit"
    LopList="@lopList" />

@* form delete *@
<DeleteSinhVien 
    visibleDelete="@visibleDelete"
    CloseDeleteForm="@CloseDeleteForm"
    acceptDeleteSinhVien="@acceptDeleteSinhVien"/>

